[user]
    email = nenorman@norme.sh
    name = Nathan Eric Norman
    signingkey = D9E7ED161EBA60BFE27DB75B689096A69D2C0129
[diff]
    tool = vimdiff
[difftool]
    prompt = false
[merge]
    tool = vimdiff
    conflictStyle = zdiff3
[mergetool]
    prompt = false
[pull]
    rebase = false
[branch]
    sort = -authordate
[init]
    defaultbranch = master
[commit]
    template = ~/.gitcommit-template
    gpgsign = true
[core]
    editor = nvim
